{% extends "base_generic.html" %}

{% block content %}
<style>
  body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f9;
      color: #333;
      margin: 20px;
  }
  table {
      width: 100%;
      border-collapse: collapse;
      margin: 25px 0;
      font-size: 18px;
      min-width: 400px;
      width: 80%; 
  }
  table tr, table th, table td {
      border: 1px solid #ddd;
      padding: 12px 15px;
      text-align: center;
  }
  table th {
      background-color: #007BFF;
      color: #ffffff;
      text-align: left;
  }
  table tbody tr {
      border-bottom: 1px solid #dddddd;
  }
  table tbody tr:nth-of-type(even) {
      background-color: #f3f3f3;
  }
  table tbody tr:last-of-type {
      border-bottom: 2px solid #007BFF;
  }
  .btn-primary {
      padding: 10px 20px;
      background-color: #007BFF;
      color: white;
      text-decoration: none;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }
  .btn-primary:hover {
      background-color: #0056b3;
  }
</style>

<h1> Digital Asset Inventory Counter</h1>
<p>The following table shows the current state of a specified wallet as of {{ data.date }}</p>

<table border="1">
    <thead>
        <tr>
            <th></th>
            <th>FIFO</th>
            <th>LIFO</th>
            <th>HIFO</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>Inventory Tao</strong></td>
            <td>{{ data.fifo_native|default:"Loading..." }}</td>
            <td>{{ data.lifo_native|default:"Loading..." }}</td>
            <td>{{ data.hifo_native|default:"Loading..." }}</td>
        </tr>
        <tr>
            <td><strong>Inventory USD</strong></td>
            <td>{{ data.fifo|default:"Loading..." }}</td>
            <td>{{ data.lifo|default:"Loading..." }}</td>
            <td>{{ data.hifo|default:"Loading..." }}</td>
        </tr>
        <tr>
            <td><strong>Used Tao</strong></td>
            <td>{{ data.fifor_native|default:"Loading..." }}</td>
            <td>{{ data.lifor_native|default:"Loading..." }}</td>
            <td>{{ data.hifor_native|default:"Loading..." }}</td>
        </tr>
        <tr>
            <td><strong>Used Tao in Dollars</strong></td>
            <td>{{ data.fifor|default:"Loading..." }}</td>
            <td>{{ data.lifor|default:"Loading..." }}</td>
            <td>{{ data.hifor|default:"Loading..." }}</td>
        </tr>
        <tr>
            <td><strong>Gain/Loss</strong></td>
            <td>{{ data.fifor_gain|default:"Loading..." }}</td>
            <td>{{ data.lifor_gain|default:"Loading..." }}</td>
            <td>{{ data.hifor_gain|default:"Loading..." }}</td>
        </tr>
        <tr>
            <td><strong>Gain/Loss Tax</strong></td>
            <td>{{ data.fifor_gain_tax|default:"Loading..." }}</td>
            <td>{{ data.lifor_gain_tax|default:"Loading..." }}</td>
            <td>{{ data.hifor_gain_tax|default:"Loading..." }}</td>
        </tr>
    </tbody>
</table>
<a href="{% url 'export_excel' %}" class="btn btn-primary">Export to Excel</a>
<a href="{% url 'export_csv' %}" class="btn btn-primary">Download CSV</a>

<script>
function fetchData() {
    fetch("{% url 'index' %}")
        .then(response => response.json())
        .then(data => {
            if (Object.keys(data).length !== 0) {
                location.reload();
            } else {
                setTimeout(fetchData, 5000);
            }
        })
        .catch(error => console.error('Error fetching data:', error));
}
fetchData();
</script>
{% endblock %}
