{% extends "base_generic.html" %}

{% block content %}
  <h1>Nous Digital Asset Inventory Counter</h1>
  <p>
    The following table shows the current state of the Nous Digital Asset Inventory.
    The Table also shows the Gain/Loss for each inventory method.
  </p>
  <h2>Table</h2>
  <ul>
    <li><strong>FIFOI Inventory Value:</strong> {{ fifo }}</li>
    <li><strong>LIFOI Inventory Value:</strong> {{ lifo }}</li>
    <li><strong>HIFOI Inventory Value:</strong> {{ hifo }}</li>
    <li><strong>FIFOR Inventory Value:</strong> {{ fifor }}</li>
    <li><strong>LIFOR Inventory Value:</strong> {{ lifor }}</li>
    <li><strong>HIFOR Inventory Value:</strong> {{ hifor}}</li>
    <li><strong>FIFOI Inventory Tao:</strong> {{ fifo_native }}</li>
    <li><strong>LIFOI Inventory Tao:</strong> {{ lifo_native }}</li>
    <li><strong>HIFOI Inventory Tao:</strong> {{ hifo_native }}</li>
    <li><strong>FIFOR Inventory Tao:</strong> {{ fifor_native }}</li>
    <li><strong>LIFOR Inventory Tao:</strong> {{ lifor_native }}</li>
    <li><strong>HIFOR Inventory Tao:</strong> {{ hifor_native }}</li>

    <li><strong>FIFOR Gain/Loss:</strong> {{ fifor_gain }}</li>
    <li><strong>LIFOR Gain/Loss:</strong> {{ lifor_gain }}</li>
    <li><strong>HIFOR Gain/Loss:</strong> {{ hifor_gain }}</li>
  
   

  </ul>
  <a href="{% url 'export_excel' %}" class="btn btn-primary">Export to Excel</a>
{% endblock %}
